.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 20px 0;
    background: linear-gradient(to top, #dff0d8, transparent);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardImg {
    width: 100%;
    object-fit: contain;
    height: 250px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cardBtn {
    background: green;
    padding: 10px 30px;
    color: white;
    text-transform: uppercase;
}

.cardInfo {
    padding: 3px 22px 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardBtn:hover {
    text-decoration: none;
    color: white;
    filter: brightness(10);
}

.container {
    padding: 2px 16px;
}
#tabs-container{ 
	padding: 2px 16px;
 }
 
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}
.topHeader{
	display: flex;
	justify-content: space-between;
	overflow: hidden;
    background-color: #333;
}
.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: white;
}

.topnav a.active {
    background-color: #b31983;
    color: white;
}

#logo{
	width: 150px ;
}

/* formulaires */

.row.formulaires {
    display: flex;
    justify-content: center;
  }


.forms{
    display: flex;
    flex-direction: column;
    align-self: left;
}


    #tabs-container {
       
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    }
    
    #tabs-nav {
       
        width: 200px;

    }
    
   #tabs-nav .logo {
        float: left;
    }
    
    #tabs-nav ul {
        font-family: Garamond, Georgia;
        font-size: 1em;
        list-style: none;
    }
    
    #tabs-nav ul li {
        border-bottom: 1px solid #000;
        float: left;
    }
    
    #tabs-nav ul li a {
        color: #b31983;
        display: block;
        height: 19px;
        padding: 30px;
        width: 220px;
        text-decoration: none;
        /*text-shadow: 1px 1px 1px #000;*/
    }
    
    #tabs-nav ul li a:hover {
        background-position: 0 -79px;
    }
    
    #tabs-nav ul li a.active {
        background-position: 0 -158px;
        color: black;
        font-size: 35px
    }
    
    #tabs-content {
        /*float: right;*/
        height: 400px;
        width: 620px;
    }
    
    #tabs-content .profile {
        display: none;
        height: 400px;
        position: relative;
        width: 620px;
    }
    
   /* #tabs-content .profile .caption {
        padding: 30px;
        position: relative;
        right: 0;
        top: 200px;
        width: 220px;
    }*/
    
    #tabs-content .profile .caption h2 {
        color: black;
        font-family: Garamond, Georgia;
        margin: 0 0 10px;
    }
    
    #tabs-content .profile .caption p {
        color: #b31983;
        font-family: Arial;
        /*font-size: .75em;
        line-height: 1.5em;
        margin: 0;
        text-align: right;*/
    }
 .title h1 {
    color: #111; 
  	font-family: 'Helvetica Neue', 
  	sans-serif; font-size: 250px; 
  	font-weight: bold; 
  	letter-spacing: -1px; 
  	line-height: 1;
  	text-align: center; 
    
}

